<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Auston B. Lopez</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery-3.1.1.js"></script>
        <link rel="stylesheet" href="/css/Main.css">
    
    </head>
    <!-- TODO: add a mario immage spliced with code and musical notation for a background-->
        <body>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Auston B. Lopez</a>
                </div>
                <ul class="nav navbar-nav">
                  <li><a href="Index.html">Home</a></li>
                  <li><a href="Resum%C3%A9.html">Resumé</a></li>
                  <li><a href="Page2.html">Page 2</a></li>
                  <li><a href="Page3.html">Page 3</a></li>
                  <li class="active"><a href="Bio.html">Bio</a></li>
                </ul>
                  <ul class="nav navbar-nav navbar-right">
                      
                          <img src="/img/Logo.jpg" class="img-rounded" alt="Logo" width="70" height="55">
                      
                      
                  
                  </ul>
              </div>
            </nav>
                <h1> Auston Lopez</h1>
            <div style="text-align: center">
                <div class="row">
                      <div class="col-sm-2">.col-sm-2</div>
                  <div class="col-sm-8">
                      <h3>Life is like a game, It's not too fun if you play alone</h3>
                      <p>We really must crawl before we walk and walk before we run. I know this for a fact. <br>
                          I have been trying to run way before i got crawing down. Now I am upright walking on my own two feet. <br>
                          Finding footing in such a unstable world is unfathomable to many. I had but one goal: This thing in my hand, How does it work? Then it hit me. <br>
                          <h4>cout &#x227A&#x227A "Hello, World!";<br>
                              or<br>
                              Console.WriteLine &#40;"Hello, World!"&#41;;<br>
                              or<br>
                            &#x227Ap&#x227BHello, World!&#x227A&#x2215p&#x227B
                          </h4>
                            For me learning a new language would be easy. I already knew 2:<br>
                            English and Musical Notation<br>
                            It was then the programmer fire was born inside of me.
                      </p>
                    
                  </div>
                  <div class="col-sm-2">.col-sm-2</div>
                </div>
            </div>
            
            
        
        </body>

</html>