<!doctype html>
<html>
    <head>
        
        <meta name="viewport" content="width=device-width">
        <title>Auston B. Lopez</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery-3.1.1.js"></script>
        <link rel="stylesheet" href="/css/Main.css">
       
        
        <style>
            .parallax {
                background-image: url('/img/IndexBackground1.jpg');
                height: 1900px;
                background-attachment: fixed;
                background-position: top;
                background-repeat: no-repeat;
                background-size: cover;
            }
            h1 {
                text-align: center;
            }
            
        </style>
    
    </head>
        <body style="background-color:#d2f8ff">
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Auston B. Lopez</a>
                </div>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="Resum%C3%A9.html">Resumé</a></li>
                  <li><a href="Page2.html">Page 2</a></li>
                  <li><a href="Page3.html">Page 3</a></li>
                  <li><a href="Bio.html">Bio</a></li>
                </ul>
                  <ul class="nav navbar-nav navbar-right">
                      
                          <img src="/img/Logo.jpg" class="img-rounded" alt="Logo" width="70" height="55">
                  </ul>
                  </div>
            </nav>
            <div class="parallax">
                <div style="background-color:#d2f8ff">
                    <div style="height: 990px">
                        <h1 style="padding-top:15%">Music and Coding</h1>
                        <p style="font-size:20px; text-align:center">As a musician, I am critical of many things. <br> I practice to memorize, I read books to learn, and I ask questions to understand.<br> With programming it is no different.<br> Music and programing are very similar as they are both filled with many layers that are needed to be complete.</p>
                    <div class="bounce"><i class="fa fa-angle-double-down" style="text-align:center"></i>
                    </div>
                </div>
                <div class=""
                    
                   
                  
                    
                    
                    
                
                   
            
            </div>
        </body>

</html>