<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>Resume</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <script src="/js/bootstrap.js"></script>
        <script src="/js/jquery-3.1.1.js"></script>
        <link rel="stylesheet" href="/css/Main.css">
        <style>
            li {
                font-size: 16px;
            }
            h3 {
                color: #4343d4 ;
            }
            p{
                font-size: 16px;
            }
            
            .horzLine {
                border-top:  solid thick #a2a2a2;
            }
        </style>
    </head>
    <body>
        <div style="padding-top:50px;"></div>
        <h2 class="horzLine" style=" padding-left:25px;padding-bottom:100px;padding-top:30px">Auston Lopez</h2>
        <div class="row">
          <div class="col-sm-2" alt="Left sidebar" style="color: #4343d4; padding-left:50px">
              <h4>(734)635-5921 <br>
                  mrpowerz83@me.com
                    <br><br><br>
                  6550 N. Ashland Ave.<br>
                  Apt: BSMT<br>
                  Chicago,IL 60626
              </h4>
             

            </div>
          <div class="col-sm-6">
            
                <div >

                    <h3>Profile</h3>
                    <p>12+ years of experience in food preparation and service both as an employee and as management. Exemplary knowledge of entrees, desserts and alcoholic beverages, with the eagerness to learn and that following strict guidelines is imperative to a successful restaurant. Many of qualities I have obtained over the years can be applied to many different industries.</p>
                    <h3>Experience</h3>
                    <h4>Intern, MVC Wizards; Chicago,IL — 10/1/2016 - Now</h4>
                    <ul>
                        <li>Optimization and correction of backend code using C#</li>
                        <li>Search engine optimization for a website that is currently under development.</li>
                        <li>Strategic placement and upkeep of advertisements on said website using HTML and CSS.</li>
                        <li>Learning to implement code using the ASP.Net core framework.</li>
                        <li>Understanding the Bootstrap framework for use in website applications.</li>
                        <li>Currently undergoing lessons to gain a working knowledge in SQL led by an architect.</li>
                    </ul>
                    <h4>Host, Sparrow; Chicago,IL — 5/5/2016 - Now</h4>
                    <ul>
                        <li>Attention to minuscule details to ensure authenticity of legal documents.</li>
                        <li>Navigating through delicate social situations that require the dental of entry to a patron.</li>
                        <li>Being required to assess the sobriety of individuals in high stress situations.</li>
                        <li>Answering questions on the history of the establishment and other relevant information.</li>
                        <li>Using my knowledge and resources to assist patrons in finding places for entertainment and other trivial pursuits.</li>
                        <li>Utilizing friendliness and professionalism to keep the respectable relationship with clients.</li>
                    </ul>
                    <h4>Head Server, Tower Inn; Ypsilanti,Mi — 2011 - 4/27/2016</h4>
                    <ul>
                        <li>Investigate and resolve complaints regarding food quality, service , or accommodations.</li>
                        <li>Monitor food preparations methods, portion sizes, garnish and presentation of food to ensure food is prepared and presented in an acceptable manner.</li>
                        <li>Schedule, receiver food and beverage deliveries, check delivery contents to verify product quality and quantity.</li>
                        <li>Perform some food peroration or food service tasks such as; cleaning tables, and serving food and drinks as necessary.</li>
                        <li>Greet guest, escort them to their seats, and present them with menus.</li>
                        <li>Schedule the use of facilities or catering services for and advent such as banquets or receptions, and negotiate details of arrangements with the clients.</li>
                        <li>Explain how various menu items are prepared, describing ingredients and cooking methods.</li>
                        <li>Provide guest with information about local areas, including giving directions.</li>
                        <li>Training new employees</li>
                    </ul>
                    <h4>Host, Red Hawk Bar and Grill; Ann Arbor, MI — 2006 - 2011</h4>
                    <ul>
                        <li>Taking phone calls, leaving notes, and answering food related questions.</li>
                        <li>Understanding the local events to ensure proper usage of table space in a small 60 person restaurant.</li>
                    </ul>
                    <h4>Manager, Subway; Ann Arbor, Mi — 2003 - 2004</h4>
                    <ul>
                        <li>Responsible for opening the store.</li>
                        <li>Counting the cash drawer and ensuring the correct amount of change as to not run out of bills when it was busy.</li>
                        <li>Ordering and count of both dry storage and fresh food.</li>
                    </ul>
                    <h3>Education</h3>
                    <h4>El Camino Community College — 2001</h4>
                    <h5>Completed coursework towards Musical Performance.</h5>
                    <ul>
                        <li>I attend High School and College simultaneously to further my knowledge in Math and Musical performance and was, the youngest student to be accepted into the Applied Music Program.</li>
                    </ul>
                    <h4>Leuzinger High School</h4>
                    <h5>Completed coursework towards A High School Diploma</h5>
                    

                </div>
            
            </div>
          <div class="col-sm-3" style="padding-left:50px">
              <h3>Skills</h3>
              <ul>
                  <li>Exceptional understating of both Microsoft Office and iWork in both professional and personal use.</li>
                  <li>Working knowledge of HTML, CSS, Bootstrap, ASP.Net core, and C# with the implementation of its uses.</li>
                  <li>Communication skills gained from years of customer service enables me to interact with groups in a concise and efficient manner.</li>
                  <li>Worked in groups from as small as 3 to as many a 25 all while keeping my composure in times of hardship and poor leadership and still achieving the goals set before me in a timely manner.</li>
                  <li>Self paced and dedicated learner. (Learned how to play the piano by age 5 and was performing at age 10)</li>
                  <li>Able to work in a fast paced environment as well as knowing the strength and weakness of my employees as to ascertain the best work environment for optimal effectiveness.</li>
              </ul>
              <h3>References</h3>
              <ul>
                  <li>Anthony Donajkowski: Manager at Tower Inn. (734) 218-3096</li>
                  <li>Cherryl Perez: Collaborator/Musical Partner (734) 218-6636</li>
                  <li>https://Pallidus83@bitbucket.org/austonlopez/homefiles.git</li>
                  
              </ul>
              
              
          </div>
        </div>
        <div class="container" style="padding-bottom:20px">
                <div class="btn-group">
                    <a href="Resum%C3%A9.html" class="btn btn-primary" role="button">Code</a>
                    <a href="rez.html" class="btn btn-primary" role="button">HTML</a>
                </div>
            </div>

    </body>
</html>